---
layout: default
title: Team
description: The PantherX Team
cover:
  height: medium
  image: bg01.jpg
permalink: /team/
lang: en
---

<section class="section{% if page.dark %} is-dark{% endif %}">
	<div class="container is-medium">

		<div class="content has-columns-2">
			<p>
				Our Team currently consists of 8 permanent developers, and we're being supported by various open source contributors, and the projects we collaborate with. Subscribe - We talk more about us and our goals, on our newsletter.
			</p>
			<p>
				It's our mission to ship the best Desktop experience ever, with full consideration of our users right to privacy and freedom of self-expression.
			</p>
		</div>

	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-mobile is-centered is-multiline has-text-centered">
			{% for member in site.data.team %}
			<div class="column is-half-mobile is-2-tablet is-1-desktop avatar">
				<img class="is-small" src="/assets/images/team/{{ member.picture }}">
				<p class="meta">
					<span class="item name">{{ member.name }}</span>
					<span class="item position">{{ member.position }}</span>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</section>