---
layout: default
title: About Us
description: About the PantherX Team
narrow: false
cover:
  height: medium
  image: bg_053.jpg
nav: footer
permalink: /about/
lang: en
---

<div id="tooltip">
  {% assign sections = site.sections | where: "namespace", "about" %} {% for
  section in sections %}
  <section class="section is-spacious {% cycle 'odd', 'even' %}">
    <div class="container is-medium">
      {% unless section.title == "Intro" %}
      <h2 class="title is-2" id="{{ section.title | url_encode }}">
        {{ section.title }}
      </h2>
      {% endunless %} {% if section.subtitle %}
      <h4 class="subtitle is-4">{{ section.subtitle }}</h4>
      {% endif %}
      <div
        class="content{% if section.columns %} has-columns-{{ section.columns }}{% endif %}"
      >
        {{ section.content | markdownify }}
      </div>
    </div>
  </section>
  {% endfor %}
</div>

<section class="section">
  <div class="columns is-mobile is-centered is-multiline has-text-centered">
    {% for member in site.data.team %}
    <div class="column is-half-mobile is-2-tablet is-1-desktop avatar">
      <img class="is-small" src="/assets/images/team/{{ member.picture }}" />
      <p class="meta">
        <span class="item name">{{ member.name }}</span>
        <span class="item position">{{ member.position }}</span>
        {% if member.mastodon.url %}<br /><span class="item"
          ><a target="_blank" href="{{ member.mastodon.url }}"
            >@{{ member.mastodon.name }}</a
          ></span
        >{% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</section>


<section class="section is-spacious even">
  <div class="container is-medium">
    <h2 class="title is-2">Timeline</h2>

    <div class="timeline">
      {% assign events = site.data.timeline | where: "year", "2017" %} {% for
      event in events %}
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">{{ event.month }} {{ event.year }}</p>
          <p>
            <b>{{ event.title }}</b>
            {% if event.content %}<br />{{ event.content }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <header class="timeline-header">
        <span class="tag is-primary">2018</span>
      </header>

    </div>

    <div class="timeline">
      {% assign events = site.data.timeline | where: "year", "2018" %} {% for
      event in events %}
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">{{ event.month }} {{ event.year }}</p>
          <p>
            <b>{{ event.title }}</b>
            {% if event.content %}<br />{{ event.content }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <header class="timeline-header">
        <span class="tag is-primary">2020</span>
      </header>

      {% assign events = site.data.timeline | where: "year", "2020" %} {% for
      event in events %}
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">{{ event.month }} {{ event.year }}</p>
          <p>
            <b>{{ event.title }}</b>
            {% if event.content %}<br />{{ event.content }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <header class="timeline-header">
        <span class="tag is-primary">2021</span>
      </header>

      {% assign events = site.data.timeline | where: "year", "2021" %} {% for
      event in events %}
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">{{ event.month }} {{ event.year }}</p>
          <p>
            <b>{{ event.title }}</b>
            {% if event.content %}<br />{{ event.content }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <header class="timeline-header">
        <span class="tag is-primary">2022</span>
      </header>

      {% assign events = site.data.timeline | where: "year", "2022" %} {% for
      event in events %}
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">{{ event.month }} {{ event.year }}</p>
          <p>
            <b>{{ event.title }}</b>
            {% if event.content %}<br />{{ event.content }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <header class="timeline-header">
        <span class="tag is-primary">2023</span>
      </header>

      {% assign events = site.data.timeline | where: "year", "2023" %} {% for
      event in events %}
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">{{ event.month }} {{ event.year }}</p>
          <p>
            <b>{{ event.title }}</b>
            {% if event.content %}<br />{{ event.content }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <div class="timeline-header">
        <span class="tag is-medium is-primary">Official Release</span>
      </div>
    </div>
  </div>
</section>