---
layout: default
title: News
description: News about PantherX OS
narrow:
cover:
  height: medium
  image: bg01.jpg
nav: main
permalink: /news/
lang: en
---

<section class="section{% if page.dark %} is-dark{% endif %}">
	<div class="container{% if page.narrow %} is-narrow{% elsif page.medium %} is-medium{% endif %}">

		<div class="columns">
			<div class="column is-6 is-offset-1">

				{% assign sorted = site.news | reverse %}
				{% for news in sorted %}
				<div class="is-list-item">
					<a href="{{ news.url }}"><h4 class="title is-4">{{ news.title }}</h4></a>
					<h5 class="subtitle is-5">{{ news.date | date_to_long_string }}</h5>
					<div class="content">
						<p>{{ news.excerpt }}</p>
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="column is-3 is-offset-1">
				{% include snippet-timeline.html limit="6" %}
			</div>
		</div>

	</div>
</section>