---
layout: default
title: Contact
description: Get in touch with the PantherX OS Team
narrow: false
cover:
  height: medium
  image: bg_062.jpg
nav: main
permalink: /contact/
lang: en
---

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-4 is-offset-3">

				<div class="content">
					<p>We're actively looking for collaborators, to help us bring this project to life. If you're an experienced developer, know something about ARM or like help spread the word, contact us - we're waiting to hear from you!</p>
				</div>

				{% include form-contact.html %}

			</div>
			<div class="column is-offset-1">

				<h3 class="title is-3">Connect</h3>

				{% for item in site.contact %}
				<div class="is-list-item is-aside">
					<a href="{{ item.url }}"><h5 class="title is-5 is-lowercase">{{ item.title }}</h5></a>
					<h6 class="subtitle is-6">{{ item.caption }}</h6>
				</div>
				{% endfor %}

				<hr>

				<h3 class="title is-3">News</h3>

				{% include loop-news.html limit="3" %}

			</div>
		</div>
	</div>
</section>
