---
layout: default
title: Robust, user-friendly, low-maintenance computing environment
description: Configure once, copy wherever, run forever
meta_description: PantherX OS is a modern operating system based on GNU Guix, with LXQt as default desktop environment, and non-free software enabled out of the box.
cover:
  height: medium
  image: bg_036.jpg
home: true
namespace: home
quicklinks:
  offset: 1
subscribe: true
---

<div>
  <section class="section is-spacious">
    <div class="container is-medium">
        <!-- <h2 class="title is-2" id="PantherX+Operating+System">
          Introducing
        </h2>
        <h3 class="subtitle is-3">for Panther Alpha</h3> -->
        <div class="columns is-variable is-8">
      <div class="column">
        <img src="/assets/images/px-desktop-nov-2021@0.5x.jpg" alt="PantherX Desktop" />
        <p>
          A detailed installation guide is available on our wiki: <a href="https://wiki.pantherx.org/">download and install PantherX</a>.
        </p>
      </div>
        <div class="column content">
          <p>
            PantherX OS is a modern operating system based on GNU Guix and non-free software enabled out of the box.
            PantherX is designed to enable everyone without a PHD in computer science to enjoy a fast, flexible and private work & entertainment platform that runs for years, with little intervention.
          </p>
          <p>
            It's kind of like docker-compose, but for your whole system.
          </p>
          <ul>
            <li>No download or usage tracking</li>
            <li>Always up to date, with rolling updates</li>
            <li>No system breakage after major updates <small>(1)</small></li>
            <li>Easy replication of your whole system, or individual user profiles</li>
            <li>No more random config files, </li>
            <li>Developer's dream, with virtual environments and 1st class docker support</li>
            <li>Optional enterprise support</li>
          </ul>

          <p>
            <small>
              (1) Never say always; If things go wrong, you can roll-back instantly to any previous system state.
            </small>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- {% include loop_topic.html priority='1' limit='5' type='general' %} -->

  <section class="section is-spacious even">
    <div class="container is-medium">
      <h2 class="title is-2">NEW: LXQt, XFCE, Gnome ... Mate - What do you want?</h2>
      <h3 class="subtitle is-3">desktop switching made easy</h3>
      <div class="content">
        <p><b>Sometimes you just want something different for a while</b>...
          <br/>PantherX now supports desktop environments including <b>XFCE, Mate, Gnome</b> and others. 
          <br/>We provide comfy defaults, so you can free your mind to focus on other things. Read more about it <a href="/news/2023/a-new-direction-welcome-xfce-mate-and-others.html">here (news)</a>.</p>
      </div>
      <pre style="padding: 0 1rem 0 1rem;">
        <code>
(services (cons*
          ;; Add desktop
          (service lxqt-desktop-service-type)      ;; LXQt desktop
          (service xfce-desktop-service-type)      ;; XFCE desktop
          (service mate-desktop-service-type)      ;; Mate desktop
          (service gnome-desktop-service-type)     ;; Gnome desktop
          %panther-desktop-services))
        </code>
      </pre>

      {% include config-generator.html %}

    </div>
  </section>

  <!-- <section class="section is-spacious">
    <div class="container is-medium">
      <h2 class="title is-2">PantherX Editions</h2>
      <h3 class="subtitle is-3">crafted to satisfy your individual needs</h3>
      <table class="table fw">
        <tr>
          <th></th>
          <th class="has-text-centered">Home</th>
          <th class="has-text-centered">Business</th>
          <th class="has-text-centered">Institution</th>
        </tr>
        <tr>
          <th>Open source</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>No Tracking</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>Always up to date</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>Release Cycle</th>
          <td>
            Rolling
          </td>
          <td>
            Rolling
          </td>
          <td>
            6/12/18-Months
          </td>
        </tr>
        <tr>
          <th>Instant Recovery</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>File sharing</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>Remote Administration</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_cross.svg" alt="No" /> (manually)
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>Central Time Tracking</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_cross.svg" alt="No" /> (manually)
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>Team Chat</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_cross.svg" alt="No" /> (manually)
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>1-Click Server Apps: CRM, ERP, ...</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_cross.svg" alt="No" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th><a href="https://www.pantherx.dev/">Custom Application Development</a></th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_cross.svg" alt="No" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>24/7 Support and Configuration Services</th>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_cross.svg" alt="No" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
          <td>
            <span class="svg-icon">
              <img src="/assets/images/icon_circle_checkmark.svg" alt="Yes" />
            </span>
          </td>
        </tr>
        <tr>
          <th>Dedicated Hardware</th>
          <td colspan="3">Yes, depending on project requirements, including embedded and wearables.</td>
        </tr>
        <tr>
          <th>Pricing</th>
          <td>
						Free & Open Source
						<br><small><a href="https://wiki.pantherx.org/">Download the Beta</a></small>
					</td>
          <td><a href="/contact/">Contact Us</a></td>
          <td><a href="/contact/">Contact Us</a></td>
        </tr>
      </table>
    </div>
  </section> -->

  {% include loop_topic.html priority='1' limit='5' type='use' even=true %}

  <!--
  <section class="section is-spacious">
    <div class="container is-medium">
      <h2 class="title is-2">PantherX Hardware</h2>
      <h3 class="subtitle is-3">
        Panther Alpha
      </h3>
      ...
    </div>
  </section>
  -->

  <!-- <section class="section is-spacious">
    <div class="container is-medium">
      <h2 class="title is-2">PantherX for Business</h2>
      <h3 class="subtitle is-3">
        Central Device, User and Application Management
      </h3>
      <div class="columns">
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/device.png" />
          <span class="is-image-title"
            >Device administration and monitoring</span
          >
        </div>
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/users.png" />
          <span class="is-image-title"
            >User provisioning and time tracking</span
          >
        </div>
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/groups.png" />
          <span class="is-image-title"
            >Departments with individual access rights</span
          >
        </div>
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/shares.png" />
          <span class="is-image-title"
            >Shares across departments, around the world</span
          >
        </div>
      </div>
      <p>
        <b>Discover what PantherX OS can do for your company</b>: Manage 10 or
        10,000 Computer, and save 2,400 € per workstation, over two years.
      </p>
      <a class="button" style="margin-top:1rem;" href="/panther-for-business/"
        >Discover PantherX Central Management for Business</a
      >
    </div>
  </section> -->

  <section
    class="section is-spacious even has-background has-background-dark"
    style="background:url(/assets/images/covers/bg/bg_087.jpg)"
  >
    <div class="container is-medium">
      <h2 class="title is-2">The Panther Vision</h2>
      <h3 class="subtitle is-3">
        A brighter future for all.
      </h3>
      <div class="content">
        <ul>
          <li>
            <strong>More privacy</strong>: A OS that doesn't track you, and apps
            that don't phone home
          </li>
          <li>
            <strong>More performance</strong>: Lightweight apps that focus on
            key features
          </li>
          <li>
            <strong>More accessibility</strong>: Great software that doesn't
            cost anything, and that you can improve yourself.
          </li>
          <li>
            <strong>More decentralization</strong>: Bitcoin was revolutionary,
            but other tech should follow the foot-steps.
          </li>
        </ul>
        <p>
          It's our mission to provide you with a operating system and hardware,
          that satisfy both your today's and tomorrow's computing needs, and
          provide a steady stream of updates, so you're not only on the safe
          site, but receive new features regularly.
        </p>
      </div>
    </div>
  </section>
</div>

<style>
  .hero.is-medium.has-background {
    min-height: 350px;
  }
  .table.fw {
    width: 100%;
    background-color: transparent;
  }
  .table td {
    text-align: center !important;
  }
  .svg-icon img {
    width: 16px;
    height: 16px;
  }
</style>
