---
layout: default
title: PantherX Operating System
description: The future of Desktop Computing
cover:
  height: medium
  image: bg01.jpg
home: true
namespace: home
quicklinks:
  offset: 1
subscribe: true
---

<div id="tooltip">

  <section class="section is-spacious">
    <div class="container is-medium">
      <h2 class="title is-2" id="PantherX+Operating+System">PantherX Operating System</h2>
      <h3 class="subtitle is-3">for Panther Alpha</h3>
      <div class="content has-columns-2">
        <img src="/assets/images/px-desktop-alt@0.5x.jpg" alt="PantherX Desktop">
        <p>
          PantherX is a modern, {% include tooltip.html keyword="Unix-like" description="PantherX is a upstream distribution of GNU GuixSD and uses the Linux Kernel" %} computer operating system, designed to enable everyone without a PHD in computer science, to take control of their computer, data and privacy, and exercise their right to freedom of monitoring and tracking.
        </p>
        <p>
          With it's own, light-weight desktop environment, a set of highly polished, {% include tooltip.html keyword="homegrown applications" description="We've developed a number of apps specifically for PantherX, including Files, Mail, Contacts, Calendar, Music, Pictures, Preview and many more useful utilities, and tools." %}, and access to thousands more trough <b>Software</b>, PantherX is set to become <b>your next, and last (Desktop) OS</b>.
        </p>
      </div>
    </div>
  </section>

  {% include loop_topic.html priority='1' limit='5' %}

  <section class="section is-spacious">
    <div class="container is-medium">
      <h2 class="title is-2">PantherX for Business</h2>
      <h3 class="subtitle is-3">Central Device, User and Application Management</h3>
      <div class="columns">
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/device.png">
          <span class="is-image-title">Device administration and monitoring</span>
        </div>
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/users.png">
          <span class="is-image-title">User provisioning and time tracking</span>
        </div>
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/groups.png">
          <span class="is-image-title">Departments with individual access rights</span>
        </div>
        <div class="column is-3 has-text-centered">
          <img src="/assets/images/central-management/thumbs/shares.png">
          <span class="is-image-title">Shares across departments, around the world</span>
        </div>
      </div>
      <p>
        <b>Discover what PantherX OS can do for your company</b>: Manage 10 or 10,000 Computer, and save 2,400 € per workstation, over two years.
      </p>
      <a class="button" style="margin-top:1rem;" href="/panther-for-business/">Discover PantherX for Business</a>
    </div>
  </div>

  <section class="section is-spacious">
    <div class="container is-medium">
      <h2 class="title is-2">Timeline</h2>

      <div class="timeline">

        {% assign events = site.data.timeline | where: "year", "2018" %}
        {% for event in events %}
        <div class="timeline-item">
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <p class="heading">{{ event.month }} {{ event.year }}</p>
            <p>
              <b>{{ event.title }}</b>
              {% if event.content %}<br>{{ event.content }}{% endif %}
            </p>
          </div>
        </div>
        {% endfor %}

        <header class="timeline-header">
          <span class="tag is-primary">2019</span>
        </header>

        {% assign events = site.data.timeline | where: "year", "2019" %}
        {% for event in events %}
        <div class="timeline-item">
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <p class="heading">{{ event.month }} {{ event.year }}</p>
            <p>
              <b>{{ event.title }}</b>
              {% if event.content %}<br>{{ event.content }}{% endif %}
            </p>
          </div>
        </div>
        {% endfor %}

        <div class="timeline-header">
          <span class="tag is-medium is-primary">Official Release</span>
        </div>

      </div>

    </div>
  </section>

</div>
