<section class="section is-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        {% include snippet_image.html image="/px-desktop-style1@0.5x.jpg" %}
      </div>
      <div class="column">
        {% include snippet_image.html image="/px-desktop-style2@0.5x.jpg" %}
      </div>
      <div class="column">
        {% include snippet_image.html image="/px-desktop-style3@0.5x.jpg" %}
      </div>
      <div class="column">
        {% include snippet_image.html image="/px-desktop-style4@0.5x.jpg" %}
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <h4 class="title is-4" id="subscribe">Subscribe for Updates & Perks</h4>
        <div class="content">
          <p>
            <b>Join us on our journey to make history.</b> Be the first to know
            about the PantherX OS 1.0 release in 2022 and get exclusive
            early-adopter discounts on powerful, dedicated PantherX OS hardware,
            that's smaller than your wallet.
          </p>
        </div>

        <form
          id="subForm"
          class="js-cm-form"
          action="https://www.createsend.com/t/subscribeerror?description="
          method="post"
          data-id="30FEA77E7D0A9B8D7616376B90063231CC5D83E8491ADF2EAB5EB15571376388D6FD3BEEA9877D7884D87885204DC85CAB184F4D6E439AA590CD1BE02009FE55"
        >
          <div class="field">
            <div class="control">
              <input
                class="input js-cm-email-input"
                id="fieldEmail"
                name="cm-vpkkr-vpkkr"
                type="email"
                placeholder="Enter your Email"
              />
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button js-cm-submit-button" type="submit">
                Send me updates
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section is-dark is-light-dark">
  <div class="container is-medium">
    <div class="columns">
      <div class="column is-2">
        {% assign topics = site.topics | where: "nav", "features" %}
        <ul>
          <li class="title is-5">PantherX OS</li>
          {% for item in topics %}
          <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column is-2">
        {% assign topics = site.pages | where: "nav", "support" %}
        <ul>
          <li class="title is-5">Platform</li>
          {% for item in site.nav.platform %}
          <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        <ul>
          <li class="title is-5" style="margin-top:25px;">Support</li>
          {% for item in topics %}
          <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column is-2">
        {% assign pages = site.pages | where: "nav", "main" %}
        <ul>
          <li class="title is-5">About Us</li>
          {% for item in pages %}
          <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column has-bottom-right">
        <p>
          Panther Alpha, running PantherX OS, will forever change your
          perception, of how your computer should work. Fast, dependable,
          trustworthy and expandable.
        </p>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a target="_blank" href="https://pantherx.social/">
                <img
                  class="icon"
                  src="/assets/images/logos/mastodon.svg"
                  alt="PantherX on Mastodon @ pantherx.social"
                />
              </a>
            </div>
            <div class="level-item">
              <a
                target="_blank"
                href="https://matrix.to/#/#public:pantherx.org"
              >
                <img
                  class="icon"
                  src="/assets/images/logos/matrix.svg"
                  alt="PantherX on Matrix @ #public:pantherx.org"
                  style="width:2.4rem;"
                />
              </a>
            </div>
          </div>
        </nav>
        <img
          class="is-bottom-right"
          src="/assets/images/panther.svg"
          alt="The Power of PantherX OS"
        />
      </div>
    </div>
    <nav class="level">
      <div class="level-left">
        <p class="level-item">
          PantherX Operating System
        </p>
      </div>
      <div class="level-right">
        <p class="level-item">
          Copyright © 2022 PantherX Team. All rights reserved.
        </p>
        <p class="level-item">
          <a href="/warrant-canary/">Warrant Canary</a>
        </p>
        <p class="level-item">
          <a href="/your-privacy/">Privacy</a>
        </p>
      </div>
    </nav>
  </div>
</section>
