<section class="section is-dark">
	<div class="container">
		<div class="columns">
			<div class="column is-4 is-offset-4">

				<h4 class="title is-4" id="subscribe">Subscribe to Updates</h4>
				<div class="content">
					<p><b>Join us on our journey to make history.</b> Be the first to know about the PantherX OS 1.0 release in late Summer 2019 and get exclusive early-adopter discounts on powerful, dedicated PantherX OS hardware, that's smaller than your wallet.</p>
				</div>

				<form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="30FEA77E7D0A9B8D7616376B90063231CC5D83E8491ADF2EAB5EB15571376388D6FD3BEEA9877D7884D87885204DC85CAB184F4D6E439AA590CD1BE02009FE55">
					<div class="field">
						<div class="control">
							<input class="input js-cm-email-input" id="fieldEmail" name="cm-vpkkr-vpkkr" type="email" placeholder="Enter your Email">
						</div>
					</div>
					<div class="field is-grouped">
						<div class="control">
							<button class="button js-cm-submit-button" type="submit">Send me updates</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>

<section class="section is-dark is-light-dark">
	<div class="container is-medium">
		<div class="columns">
			<div class="column is-3">
				{% assign topics = site.topics %}
				<ul>
					<li class="title">PantherX OS</li>
					{% for topic in topics %}
					<li><a href="{{ topic.permalink }}">{{ topic.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="column is-3">
				{% assign pages = site.pages %}
				<ul>
					<li class="title">About Us</li>
					{% for page in pages %}
					<li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="column is-6">
				<img class="is-bottom-right" src="/assets/images/panther.svg" alt="The Power of PantherX OS">
			</div>
		</div>
	</div>
</section>

<footer class="footer is-dark">
	<div class="content has-text-centered">
		<p>
			<strong>PantherX OS</strong> | The majority of PantherX source code is licensed under the <a href="/license/">GNU General Public License</a> | <a href="/your-privacy/">Privacy</a>
		</p>
	</div>
</footer>