<section class="hero {% if page.cover.height == "full" %} is-fullheight{% elsif page.cover.height == "medium" %} is-medium{% endif %}{% if page.cover.image %} has-background{% endif %}" {% if page.cover.image %}style="background-image:url(/assets/images/{% if page.layout == 'news' %}news/{% else %}covers/bg/{% endif %}{{ page.cover.image }})"{% endif %}>
	<div class="hero-head">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a href="/" class="navbar-item">
						<img src="/assets/images/logo.png" alt="PantherX Logo">
					</a>
					<span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
				</div>
				<div id="navbarMenuHeroA" class="navbar-menu">
					<div class="navbar-end">
						<a href="/" class="navbar-item">
							Home
						</a>
						<a href="/#PantherX+Operating+System" class="navbar-item">
							PantherX OS
						</a>
						<a href="/for-small-business/" class="navbar-item">
							PantherX for Business
						</a>
						<a href="/packages/" class="navbar-item">
							Packages
						</a>
						<a href="https://wiki.pantherx.org/" class="navbar-item">
							Wiki
						</a>
						<a href="https://community.pantherx.org" class="navbar-item">
							Community
						</a>
						{% assign pages = site.pages | where: "nav", "main" %}
						{% for page in pages %}
						<a href="{{ page.permalink }}" class="navbar-item">
							{{ page.title }}
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</nav>
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<!--
			{% if page.home == true %}
			<img src="/assets/images/cover.png" class="cover" alt="PantherX - Say hello to your new Desktop and goodbye to all the things you should't have to worry about.">
			{% else %}
			<h1 class="title is-1">{{ page.title }}</h1>
			{% endif %}
			-->
			{% if page.home %}
			<h1 class="title is-1">{{ site.title }}</h1>
			<h1 class="subtitle is-2 has-text-light">{{ page.description }}</h1>
			{% else %}
			<h1 class="title is-1">{{ page.title }}</h1>
			{% endif %}
		</div>
	</div>
	{% if page.quicklinks %}
	{% assign sections = site.sections | where: "namespace", page.namespace %}
	{% if sections.size > 4 %}
	<div class="hero-foot">
		<nav class="tabs is-boxed is-fullwidth">
			<div class="container">
				<ul>
					{% for section in sections offset:page.quicklinks.offset %}
					<li><a href="#{{ section.title | url_encode }}">{{ section.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
	{% endif %}
	{% endif %}
</section>
