<title>{{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="image" content="/assets/images/px-desktop.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ page.title }} | {{ site.title }}">
<meta itemprop="description" content="{% if page.meta_description %}{{ page.meta_description }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image" content="/assets/images/px-desktop.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@panthermpc">
<meta name="twitter:creator" content="@f_anzs">
<meta name="twitter:image:src" content="/assets/images/px-desktop.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ page.title }} | {{ site.title }}">
<meta name="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="og:image" content="/assets/images/px-desktop.jpg">
<meta name="og:url" content="{{ site.url}}{{ page.url }}">
<meta name="og:site_name" content="{{ site.title }}">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">