<script src="/assets/js/bundle.min.js"></script>

<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//stats.dkkma.com/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '24']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

{% if page.permalink == "/packages/" or page.permalink == "/applications/" %}
<script src="/assets/js/packages.min.js"></script>
{% endif %}

{% if page.permalink == "/contact/" %}
<script src="/assets/js/contact.min.js"></script>
{% endif %}

{% if page.layout == "news" or page.title == "News" %}
<script src="/assets/js/mastodon.min.js"></script>
{% endif %}
