<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.cover.description %}{{ page.cover.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="/assets/css/custom.min.css">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
  </head>
  <body>

  {% include header.html %}
  {{ content }}
  {% include scripts.html %}

  </body>
</html>
